{%extends './base.html'%}

{%block title%}Edit '{{article.title}}'{%endblock%}

{%block breadcrumbs%}
{%include './breadcrumbs.html'%}
<span>Edit</span>
{%endblock%}

{%block content%}
<h1>Editing &lsquo;{{article.title}}&rsquo;</h1>

<form class="edit-article" method="post">
    {%csrf_token%}
    {{articleform.non_field_errors}}
    {%include 'dragonlinguistics/form-fields.html' with form=articleform%}
    <input type="submit" value="Save changes" />
    <a class="button" href="{%url 'langs:lessons:view' lang.code article.title|slugify%}">Cancel</a>
</form>
{%endblock%}
