{%extends './base.html'%}

{%block title%}Add lesson{%endblock%}

{%block breadcrumbs%}
{%include './breadcrumbs.html'%}
<span>Add lesson</span>
{%endblock%}

{%block content%}
<h1>Add Lesson</h1>

<form method="post">
    {%csrf_token%}
    {{articleform.non_field_errors}}
    <dl>
        {%include 'dragonlinguistics/form-fields.html' with form=articleform%}
    </dl>
    <input type="submit" value="Add lesson" />
</form><br /><br />
<a href="{%url 'langs:lessons:list' lang.code%}">Cancel</a>
{%endblock%}
