:root {
    --accent-color: #577590; /* site accent colour */
    --border-radius: 3px; /* preferred border roundedness */
    --spacing: .4rem; /* preferred spacing */
}

h1,h2 { border: none; }

#article-tags {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: var(--spacing) 0 0 0;
}

#article-tags li {
    display: block;
    padding: .02rem .4rem;
    margin: 0 var(--spacing) 0 0;
    color: #ffffff;
    border-radius: var(--border-radius);
    background: rgba(87, 117, 144, 0.7);
    font-size: .75rem;
}

#article-header {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr auto auto;
    column-gap: var(--spacing);
    align-items: start;
}

#article-title {
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
}

#article-subtitle {
    font-weight: 400;
    color: var(--accent-color);
    font-size: 1.25rem;
    margin: .5rem 0 0 0;
}

#article-meta {
    padding: 5px 10px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}

#article-meta div {
    margin: 0;
    color: #444444;
    font-size: .875rem;
}

#article-body {
    margin: var(--spacing) 0 0 0;
}

#article-body h1 {
    margin-top: 4rem;
}

#article-body h2 {
    margin-top: 2rem;
}

#article-body h3,
#article-body h4,
#article-body h5,
#article-body h6 {
    margin-top: 1.5rem;
}

#article-body .hint {
    color: #777;
    font-style: italic;
}

#article-body table.phonology td {
    text-align: center;
}

#article-body ul.no-bullet,
#article-body div.no-bullet ul {
    list-style-type: none;
}

#how-to-cite {
    margin-top: 1em;
    border-top: 1px solid #6a737d;
    color: #6a737d;
}

.edit-article input[type=text] {
    display: inline-block;
    width: 100%;
}

.form-row {
    display: flex;
    flex-direction: row;
}

label {
    color: var(--accent-color);
    font-weight: bold;
}
