/* Text entries */

input, button {
    font-family: sans-serif;  /* Need to specify this again, apparently */
}

input, textarea {
    padding: 4px 8px;
    margin: 4px 0;
    font-size: 0.9rem;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
}

textarea {
    width: 100%;
    resize: vertical;
}

input[type=text]:hover,
input[type=url]:hover,
input[type=number]:hover,
textarea:hover {
    border: 1px solid darkgray;
}

input[type="checkbox"] {
    height: 1.25em;
    width: 1.25em;
}

/* Buttons */

button, a.button {
    cursor: default;
    padding: 4px 8px;
    border: 1px solid #e6e6e6;
    border-radius: var(--border-radius);
    margin: 4px;
    font-size: 0.9rem;
    -webkit-transition: background-color 0.05s ease-in-out;
    transition: background-color 0.05s ease-in-out;
    background: #f4f4f4;
    color: #24292e;
}

button:hover, a.button:hover {
    background: #ededed;
    color: #24292e;
}

/* Other */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    font: 14px sans-serif;
    padding: 4px 8px;

    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7.5 12l4.5 5 4.5-5z'/><path d='M7.5 10l4.5 -5 4.5 5z'/></svg>");
    background-repeat: no-repeat;
    background-position: top 50% right 0px;
}

label {
    margin: 8px 8px 8px 4px;
    font-size: 1.05rem;
}

/* label:not(:first-child) {
    margin-left: 10px;
} */

/* GRID */

div.form-field {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
}

div.form-field > input {
    grid-column: 2 / span 2;
}

div.form-field > input[type="checkbox"] {
    grid-column: 2 / span 1;
}

div.form-field > textarea {
    grid-column: 1 / span 3;
}

/*
 *     QUICK-SEARCH
 */

.search-form {
    /* border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb; */
    padding: 6px;
    /* border: 2px solid #ebebeb;
    border-radius: 2px; */
}

.search-form h4 {
    display: inline-block;
    margin: 0;
}

.search-form button {
    padding: 2px 2px 2px 4px;
}
