{%extends './base.html'%}

{%block title%}Articles{%endblock%}

{%block content%}
{%if user.is_authenticated%}
<div class="page-controls">
    <a class="button" href="?new">Add article</a>
</div>
{%endif%}

{%include 'dragonlinguistics/snippets/prevpage.html'%}
<ul>
    {%for article in page.object_list%}
    <li><a class="{{article.get_classes}}" href="{{article.get_absolute_url}}">{{article}} ({{article.created.year}})</a></li>
    {%empty%}
    <li>There are no articles</li>
    {%endfor%}
</ul>
{%include 'dragonlinguistics/snippets/nextpage.html'%}
{%endblock%}
