{%extends './base.html'%}
{%load static%}

{%block title%}Add article{%endblock%}

{%block stylesheets%}<link rel="stylesheet" href="{%static 'styles/form.css'%}" type="text/css" />{%endblock%}

{%block content%}
<h1>Add Article</h1>

<form method="post">
    {%csrf_token%}
    <input type="hidden" name="_action" value="new" />
    {{articleform.non_field_errors}}
    {%include 'dragonlinguistics/snippets/form-fields.html' with form=articleform%}
    <input type="submit" value="Add article" />
    <a class="button" href="{{folder.get_absolute_url}}">Cancel</a>
</form>
{%endblock%}
