{%extends 'dragonlinguistics/base.html'%}
{%load static%}

{%block title%}{{article.title}}{%endblock%}

{%block stylesheets%}<link rel="stylesheet" href="{%static 'styles/article.css'%}" type="text/css" />{%endblock%}

{%block content%}{%include 'dragonlinguistics/snippets/articles/view.html'%}
<div id="how-to-cite">
    <p>This article can be cited as:</p>
    <blockquote>
        Spence, Kathryn ({{article.created.year}}). {{article.title}}. Dragon Linguistics (www.dragonlinguistics.net{{article.url}}).
    </blockquote>
</div>
{%endblock%}
