{%extends './base.html'%}
{%load static%}

{%block title%}{{article.title}}{%endblock%}

{%block stylesheets%}<link rel="stylesheet" href="{%static 'styles/article.css'%}" type="text/css" />{%endblock%}

{%block breadcrumbs%}
{%include './breadcrumbs.html' with article=None%}
<span>{{article.title}}</span>
{%endblock%}

{%block content%}{%include 'dragonlinguistics/snippets/articles/view.html'%}
<div id="how-to-cite">
    <p>This article can be cited as:</p>
    <blockquote>
        Spence, Kathryn ({{article.created|date:'Y'}}). {{article.title}}. Dragon Linguistics ({{article.get_absolute_url}}).
    </blockquote>
</div>
{%endblock%}
