<a href="{%url 'home'%}"{%if navbar_active == 'home'%} class="active"{%endif%}>Home</a>
<!-- <a href="{url 'tools:list-tools'}"{%if active == 'tools'%} class="active"{%endif%}>Conlanger</a> -->
<a href="{%url 'langs:list'%}"{%if navbar_active == 'langs'%} class="active"{%endif%}>Languages</a>
<a href="{%url 'articles:list'%}"{%if navbar_active == 'articles'%} class="active"{%endif%}>Articles</a>
<a href="{%url 'references:list'%}"{%if navbar_active == 'references'%} class="active"{%endif%}>Bibliography</a>
