{%extends 'dragonlinguistics/view.html'%}

{%block title%}{%with object=author%}{{block.super}}{%endwith%}{%endblock%}

{%block breadcrumbs%}{%with object=author%}{{block.super}}{%endwith%}{%endblock%}

{%block heading%}{%with object=author%}{{block.super}}{%endwith%}{%endblock%}

{%block actions%}
{%with object=author type='author'%}{{block.super}}{%endwith%}
{%if user.is_authenticated%}<a class="new" href="?new">New reference</a>{%endif%}
{%endblock%}

{%block content%}
<ul>
    {%for reference in references%}
    <li id="{{reference|slugify}}">{{reference.as_html}}</li>
    {%endfor%}
</ul>
{%endblock%}
