{%extends 'dragonlinguistics/base.html'%}

{%block title%}{{author}}{%endblock%}

{%block breadcrumbs%}
<span><a href="{{host.get.url}}">{{host.get}}</a></span>
<span><a href="{{host.url}}">{{host}}</a></span>
<span><a href="{{author.list_url}}">Bibliography</a></span>
<span><a>{{author.html}}</a></span>
{%endblock%}

{%block content%}
<div id="content-header">
    <h1>{{author.html}}</h1>
    <div class="actions">
        {%if user.is_authenticated%}<a class="edit" href="?edit">Edit author</a>{%endif%}
        {%if user.is_authenticated%}<a class="delete" href="?delete">Delete author</a>{%endif%}
        {%if user.is_authenticated%}<a class="new" href="?new">New reference</a>{%endif%}
    </div>
</div>

<ul>
    {%for reference in references%}
    <li id="{{reference|slugify}}">{{reference.as_html}}</li>
    {%endfor%}
</ul>
{%endblock%}
