{%extends 'dragonlinguistics/base.html'%}

{%block title%}Bibliography{%endblock%}

{%block breadcrumbs%}
<span><a href="{{host.get.url}}">{{host.get}}</a></span>
<span><a href="{{host.url}}">{{host}}</a></span>
<span><a>Bibliography</a></span>
{%endblock%}

{%block content%}
<div id="content-header">
    <h1>Bibliography</h1>
    <div class="actions">
        {%if user.is_authenticated%}<a class="new" href="?new">New author</a>{%endif%}
    </div>
</div>

{%for author in authors%}
<h3 id="{{author.slug}}"><a href="{{author.url}}">{{author.html}}</a></h3>

<ul>
    {%for reference in author.reference_set.all%}
    <li id="{{reference|slugify}}">{{reference.as_html}} (<a href="{{reference.url}}">view</a>)</li>
    {%endfor%}
</ul>
{%endfor%}
{%endblock%}
