{%extends 'common/base.html'%}

{%block title%}Bibliography{%endblock%}

{%block breadcrumbs%}
{%include 'common/snippets/breadcrumbs.html' with breadcrumbs=host.breadcrumbs%}
<span><a>Bibliography</a></span>
{%endblock%}

{%block heading%}Bibliography{%endblock%}

{%block actions%}
{%if user.is_authenticated%}<a class="new" href="?new">New author</a>{%endif%}
{%endblock%}

{%block content%}
{%for author in authors%}
<h3 id="{{author.slug}}"><a href="{{author.url}}">{{author.html}}</a></h3>

<ul>
    {%for reference in author.reference_set.all%}
    <li id="{{reference|slugify}}">{{reference.as_html}} (<a href="{{reference.url}}">view</a>)</li>
    {%endfor%}
</ul>
{%endfor%}
{%endblock%}
