{%extends './base.html'%}
{%load static%}

{%block title%}{{article.title}}{%endblock%}

{%block stylesheets%}<link rel="stylesheet" href="{%static 'styles/article.css'%}" type="text/css" />{%endblock%}

{%block breadcrumbs%}
{%include './breadcrumbs.html' with article=None%}
<span>{{article.title}}</span>
{%endblock%}

{%block content%}
<article>
    <div id="article-header">
        <div id="article-heading">
            <h1 id="article-title">{{article.title}}</h1>
            <h3 id="article-subtitle">{{article.description}}</h3>
        </div>
        {%if user.is_authenticated%}
        <div class="controls">
            <a class="btn edit" href="{%url 'langs:grammar:edit' lang.code article.title|slugify%}">Edit</a>
            <a class="btn delete" href="{%url 'langs:grammar:delete' lang.code article.title|slugify%}">Delete</a>
        </div>
        {%endif%}
        <div id="article-meta">
            <div id="article-written">Created {{article.created|date:'j M Y, H:i'}}.</div>
            {%if article.edited != article.created%}
                <div id="article-edited">Last updated {{article.edited|date:'j M Y, H:i'}}.</div>
            {%endif%}
        </div>
        {%if article.tag_list%}
        <ul id="article-tags">
            {%for tag in article.tag_list%}<li>#{{tag}}</li>{%endfor%}
        </ul>
        {%endif%}
    </div>
    {# As of right now, this is raw HTML #}
    <div id="article-body">
        {{article.content|safe}}
    </div>
</article>
{%endblock%}
