{%extends 'dragonlinguistics/base.html'%}

{%block title%}Import {{lang.name}} Dictionary{%endblock%}

{%block stylesheets%}<link rel="stylesheet" href="{%static 'styles/form.css'%}" type="text/css" />{%endblock%}

{%block content%}
<h1>Import {{lang.name}} Dictionary</h1>

<form enctype="multipart/form-data" method="post">
    {%csrf_token%}
    {{importform.non_field_errors}}
    {%include 'dragonlinguistics/snippets/form-fields.html' with form=importform%}
    <button type="submit" name="_action" value="import">Import words</button>
</form>
{%endblock%}
