{%extends './base.html'%}

{%block title%}{{lang.name}} Dictionary{%endblock%}

{%block stylesheets%}
<style>
    #lemmas {
        list-style-type: none;
        column-count: 5;
        column-width: 6.875em;
        column-gap: 1.875em;
        column-rule: 1px solid #eaecef;
    }
</style>
{%endblock%}

{%block content%}
{%if user.is_authenticated%}
<div class="page-controls">
    <a class="button" href="{%url 'langs:words:new' lang.code%}">Add word</a>
    <a class="button" href="{%url 'langs:words:search' lang.code%}">Search words</a>
</div>
{%endif%}

{%include 'dragonlinguistics/snippets/quick-search.html' with field=searchform.lemma%}

{%include 'dragonlinguistics/snippets/list.html' with types='words'%}
{%endblock%}
