{%extends './base.html'%}

{%block title%}Add word{%endblock%}

{%block breadcrumbs%}
{%include './breadcrumbs.html'%}
<span>Add Word</span>
{%endblock%}

{%block content%}
<h1>Add Word</h1>

<form method="post">
    {%csrf_token%}
    {{wordform.non_field_errors}}
    <div>
        <label for="id_addmore">Keep adding words?</label>
        <input id="id_addmore" type="checkbox" name="addmore" {%if addmore%}checked{%endif%} />
    </div>
    {%include 'dragonlinguistics/snippets/form-fields.html' with form=wordform%}
    <div>
        {{senseformset.management_form}}
    </div>
    {%for senseform in senseformset%}
    <div>
        <h2>Sense {{forloop.counter}}</h2>
        {{senseform.non_field_errors}}
        {%include 'dragonlinguistics/snippets/form-fields.html' with form=senseform%}
    </div>
    {%endfor%}
    <input type="submit" value="Add word" />
    <a class="button" href="{%url 'langs:words:list' lang.code%}">Cancel</a>
</form><br /><br />
{%endblock%}
