{%extends 'dragonlinguistics/base.html'%}
{%load static%}

{%block title%}Edit {{object}} Settings{%endblock%}

{%block stylesheets%}<link rel="stylesheet" href="{%static 'styles/form.css'%}" type="text/css" />{%endblock%}

{%block content%}
<h1>Editing {{object.html}} Settings</h1>

<form method="post">
    {%csrf_token%}
    <input type="hidden" name="_action" value="settings" />
    {{form.non_field_errors}}
    {%include './snippets/form-fields.html'%}
    <button type="submit">Save changes</button>
    <a class="button" href=".">Cancel</a>
</form>
{%endblock%}
