{%extends 'dragonlinguistics/base.html'%}
{%load markup%}

{%block title%}View {{word.lemma}}{%endblock%}

{%block content%}
<div id="content-header">
    <h1 class="word {{lang.code}}">{{word}}</h1>
    {%if user.is_authenticated%}
    <div class="controls">
        <a class="btn edit" href="?edit">Edit</a>
        <a class="btn delete" href="?delete">Delete</a>
    </div>
    {%endif%}
</div>
<dl>
    {%if word.notes%}<p>{% markup word.notes %}</p>{%endif%}
    {%if word.etymology%}
    <dt><h3>Etymology</h3></dt>
    <dd>{% markup word.etymology %}</dd>
    {%endif%}
    {%for sense in word.sense_set.all%}
        <dt><h3>{{sense.get_pos_display}}</h3></dt>
        <dd>
            <dl>
                {%if sense.notes%}<p>{% markup sense.notes %}</p>{%endif%}
                <dt>Definition:</dt><dd>{%if sense.defin%}{% markup sense.defin %}{%else%}{{sense.gloss}}{%endif%}</dd>
                {%if sense.grammclass%}<dt>Class:</dt><dd>{{sense.grammclass}}</dd>{%endif%}
            </dl>
        </dd>
    {%empty%}
        <h2>No known meanings</h2>
    {%endfor%}
</dl>
{%endblock%}
