{%extends './base.html'%}

{%block title%}{{lang.name}} articles{%endblock%}

{%block breadcrumbs%}
{%include 'dragonlinguistics/langs/breadcrumbs.html'%}
<span>Articles</span>
{%endblock%}

{%block content%}
{%if user.is_authenticated%}
<div class="page-controls">
    <a class="button" href="{%url 'langs:articles:new' lang.code%}">Add pages</a>
</div>
{%endif%}

{%include 'dragonlinguistics/prevpage.html'%}
<ul>
{%for article in page.object_list%}
    <li><a href="{{article.get_absolute_url}}" class="article">{{article.title}}</a></li>
{%empty%}
    <li>There are no articles.</li>
{%endfor%}
</ul>
{%include 'dragonlinguistics/nextpage.html'%}
{%endblock%}
