{%extends './base.html'%}
{%load util%}

{%block title%}{{lang.name}} {{type}}{%endblock%}

{%block breadcrumbs%}
{%include 'dragonlinguistics/langs/breadcrumbs.html'%}
<span>{{type|capfirst}}</span>
{%endblock%}

{%block content%}
{%if user.is_authenticated%}
<div class="page-controls">
    <a class="button" href="{{folder.get_new_url}}">Add pages</a>
</div>
{%endif%}

{%include 'dragonlinguistics/prevpage.html'%}
<ul>
{%for article in page.object_list%}
    <li><a href="{{article.get_absolute_url}}" class="article">{{article.title}}</a></li>
{%empty%}
    <li>There are no {{type}}{%if not type|endswith:'s'%} articles{%endif%}.</li>
{%endfor%}
</ul>
{%include 'dragonlinguistics/nextpage.html'%}
{%endblock%}
