{%extends './base.html'%}
{%load static%}
{%load util%}

{%block title%}Add {{type|singular:'article'}}{%endblock%}

{%block stylesheets%}<link rel="stylesheet" href="{%static 'styles/form.css'%}" type="text/css" />{%endblock%}

{%block content%}
<h1>Add {{type|singular:'article'|title}}</h1>

<form method="post">
    {%csrf_token%}
    {{articleform.non_field_errors}}
    {%include 'dragonlinguistics/snippets/form-fields.html' with form=articleform%}
    <input type="submit" value="Add {{type|singular:'article'}}" />
    <a class="button" href="{{folder.get_absolute_url}}">Cancel</a>
</form>
{%endblock%}
