{%load static%}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%block title%}{%endblock%} | DragonLinguistics</title>
    <link rel="stylesheet" href="{%static 'styles/main.css'%}" type="text/css" />
    {%block stylesheets%}{%endblock%}
    {%block javascripts%}{%endblock%}
</head>

<body>
    <div id="page">
        <header id="page-header">
            <h1 id="site-title"><a href="{%url 'home'%}">Dragon Linguistics</a></h1>
            <nav id="site-nav">
                <a href="{%url 'home'%}"{%if navbar_active == 'home'%} class="active"{%endif%}>Home</a>
                <a href="{%url 'langs:list'%}"{%if navbar_active == 'langs'%} class="active"{%endif%}>Languages</a>
                <a href="{%url 'articles:list'%}"{%if navbar_active == 'articles'%} class="active"{%endif%}>Articles</a>
                <a href="{%url 'references:list'%}"{%if navbar_active == 'references'%} class="active"{%endif%}>Bibliography</a>
            </nav>

            <nav id="breadcrumbs">
                {%for crumb, url in breadcrumbs%}<span><a{%if url%} href="{{url}}"{%endif%}>{{crumb}}</a></span>
                {%endfor%}
            </nav>
        </header>

        <main id="page-content">
            {%block content%}{%endblock%}
        </main>

        <footer id="page-footer">
            <a href="#top" class="low-opacity">Back to top</a>
        </footer>
    </div>
</body>
</html>
