{%extends 'dragonlinguistics/base.html'%}

{%block title%}Home{%endblock%}

{%block navbar%}{%include 'dragonlinguistics/navbar.html' with active='home'%}{%endblock%}

{%block breadcrumbs%}<span>Home</span>{%endblock%}

{%block content%}
<p>
  Dragon Linguistics is a website dedicated to my creations; primarily in conlanging and linguistics, but anything I've done might show up here. Here you can read about my languages, and other languages I've done work with, and make use of my conlanging tools.
</p>
{%endblock%}
