{%extends './base.html'%}
{%load static%}

{%block title%}{{title}}{%endblock%}

{%block stylesheets%}<link rel="stylesheet" href="{%static 'styles/form.css'%}" type="text/css" />{%endblock%}

{%block content%}
<div id="content-header">
    <h1>{{title}}</h1>
    {%if user.is_authenticated%}
    <div class="controls">
        <a class="new" href="?new">Add {{type}}</a>
        {%if search%}<a class="search" href="?search">Search {{type}}s</a>{%endif%}
        {%block controls%}{%endblock%}
    </div>
    {%endif%}
</div>

{%if searchfield%}{%include './snippets/quick-search.html'%}{%endif%}

{%include './snippets/prevpage.html'%}
<ul>
    {%for object in page.object_list%}
    <li><a href="{{object.url}}">{{object.html}}</a></li>
    {%empty%}
    <li>There are no {{type}}s</li>
    {%endfor%}
</ul>
{%include './snippets/nextpage.html'%}
{%endblock%}
