{%extends './base.html'%}
{%load static%}

{%block title%}New {{type|title}}{%endblock%}

{%block stylesheets%}<link rel="stylesheet" href="{%static 'styles/form.css'%}" type="text/css" />{%endblock%}

{%block content%}
<h1>New {{type|title}}</h1>

<form method="post">
    {%csrf_token%}
    <input type="hidden" name="_action" value="new" />
    {%include './snippets/new-form-buttons.html'%}
    {%include './snippets/form.html'%}
    {%if formset%}{%include './snippets/formset.html'%}{%endif%}
    {%include './snippets/new-form-buttons.html'%}
</form>
{%endblock%}
