{%extends './base.html'%}
{%load static%}

{%block title%}Add {{type}}{%endblock%}

{%block stylesheets%}<link rel="stylesheet" href="{%static 'styles/form.css'%}" type="text/css" />{%endblock%}

{%block content%}
<h1>Add {{type|title}}</h1>

<form method="post">
    {%csrf_token%}
    <input type="hidden" name="_action" value="new" />
    {%include './snippets/form-save-buttons.html'%}
    {{form.non_field_errors}}
    {%include './snippets/form-fields.html'%}
    {%if formset%}{%include './snippets/formset-fields.html'%}{%endif%}
    {%include './snippets/form-save-buttons.html'%}
</form>
{%endblock%}
