{%extends './base.html'%}

{%block title%}Delete &lsquo;{{object}}&rsquo;{%endblock%}

{%block breadcrumbs%}
{%include './snippets/breadcrumbs.html' with breadcrumbs=host.breadcrumbs%}
{%include './snippets/breadcrumbs.html' with breadcrumbs=object.breadcrumbs%}
<span><a>Delete</a></span>
{%endblock%}

{%block heading%}Delete &lsquo;{{object.html}}&rsquo;{%endblock%}

{%block content%}
Are you <i>sure</i> you want to delete this {{type}}?

<form method="post">
    {%csrf_token%}
    <input type="hidden" name="_action" value="delete" />
    <button type="submit">Delete</button>
    <a class="button" href=".">Cancel</a>
</form>
{%endblock%}
