{%extends './base.html'%}
{%load util%}

{%block title%}{{title}}{%endblock%}

{%block heading%}{{title}}{%endblock%}

{%block actions%}
{%if user.is_authenticated%}<a class="new" href="?new">New {{type}}</a>{%endif%}
{%endblock%}

{%block content%}
{%include './snippets/prevpage.html'%}
<ul>
    {%for object in page.object_list%}
    <li><a href="{{object.url}}">{{object.html}}</a></li>
    {%empty%}
    <li>There are no {{type|pluralise}}</li>
    {%endfor%}
</ul>
{%include './snippets/nextpage.html'%}
{%endblock%}
