{%extends './base.html'%}

{%block title%}Languages{%endblock%}

{%block breadcrumbs%}
{%include 'dragonlinguistics/breadcrumbs.html'%}
<span>Languages</span>
{%endblock%}

{%block content%}
{%if user.is_authenticated%}
<div class="page-controls">
    <a class="button" href="{%url 'langs:new'%}">Add language</a>
    <a class="button" href="{%url 'langs:search'%}">Search languages</a>
</div>
{%endif%}

{%include 'dragonlinguistics/snippets/quick-search.html' with field=searchform.code%}

{%include 'dragonlinguistics/snippets/prevpage.html'%}
<ul>
{%for lang in page.object_list%}
    <li><a href="{{lang.get_absolute_url}}" class="lang {{lang.code}}">{{lang.name}}</a></li>
{%empty%}
    <li>There are no languages</li>
{%endfor%}
</ul>
{%include 'dragonlinguistics/snippets/nextpage.html'%}
{%endblock%}
