{%extends './base.html'%}

{%block title%}Languages{%endblock%}

{%block breadcrumbs%}
{%include '../breadcrumbs.html'%}
<span>Languages</span>
{%endblock%}

{%block content%}
{%if user.is_authenticated%}
<div class="page-controls">
    <a class="button" href="{%url 'langs:new'%}">Add language</a>
    <a class="button" href="{%url 'langs:search'%}">Search languages</a>
</div>
{%endif%}

{%include 'dragonlinguistics/snippets/quick-search.html' with field=searchform.code%}

{%include 'dragonlinguistics/snippets/list.html' with types='languages'%}
{%endblock%}
