{%extends './base.html'%}

{%block title%}Languages{%endblock%}

{%block breadcrumbs%}{{block.super}}
<span>Languages</span>
{%endblock%}

{%block content%}
{%if user.is_authenticated%}
<div class="page-controls">
    <a class="button" href="{%url 'langs:new'%}">Add language</a>
    <a class="button" href="{%url 'langs:search'%}">Search languages</a>
</div>
{%endif%}

<form class="search-form" method="get">
    <h4>Quick-search:</h4>
    {{searchform.code.label_tag}} {{searchform.code}}
    <input type="submit" value="Search" />
</form>

{%if page.has_previous%}
<p><a href="?{%if query%}{{query}}&{%endif%}page={{page.previous_page_number}}">Previous Page</a></p>
{%endif%}
<ul>
{%for lang in page.object_list%}
    <li><a href="{{lang.get_absolute_url}}" class="lang {{lang.code}}">{{lang.name}}</a></li>
{%empty%}
    <li>There are no languages</li>
{%endfor%}
</ul>
{%if page.has_next%}
<p><a href="?{%if query%}{{query}}&{%endif%}page={{page.next_page_number}}">Next Page</a></p>
{%endif%}
{%endblock%}
