{%extends './base.html'%}
{%load markup%}

{%block title%}View {{lang.name}}{%endblock%}

{%block breadcrumbs%}
{%include './breadcrumbs.html' with lang=None%}
<span>{{lang.name}}</span>
{%endblock%}

{%block content%}
<div id="content-header">
    <h1 class="lang {{lang.code}}">{{lang}}</h1>
    {%if user.is_authenticated%}
    <div class="controls">
        <a class="btn edit" href="{{lang.get_edit_url}}">Edit</a>
        <a class="btn delete" href="{{lang.get_delete_url}}">Delete</a>
    </div>
    {%endif%}
</div>

<p>{{lang.blurb|markup}}</p>

<h2>Options</h2>
<ul>
    <li><a href="{%url 'langs:words:list' lang.code%}">View dictionary</a></li>
    <li><a href="{%url 'langs:articles:list' lang.code 'articles'%}">View articles</a></li>
    <li><a href="{%url 'langs:articles:list' lang.code 'grammar'%}">View grammar</a></li>
    <li><a href="{%url 'langs:articles:list' lang.code 'lessons'%}">View lessons</a></li>
    <li><a href="{%url 'langs:articles:list' lang.code 'texts'%}">View texts</a></li>
</ul>
{%endblock%}
