{%extends 'dragonlinguistics/list.html'%}

{%block title%}{%with title=folder.kind|title%}{{block.super}}{%endwith%}{%endblock%}

{%block breadcrumbs%}
{%include 'dragonlinguistics/snippets/breadcrumbs.html' with breadcrumbs=host.breadcrumbs%}
{%include 'dragonlinguistics/snippets/breadcrumbs.html' with breadcrumbs=folder.breadcrumbs last=True%}
{%endblock%}

{%block heading%}{%with title=folder.kind|title%}{{block.super}}{%endwith%}{%endblock%}

{%block content%}{%with type='article'%}{{block.super}}{%endwith%}{%endblock%}
