{%extends 'dragonlinguistics/base.html'%}
{%load static%}
{%load markup%}

{%block title%}{{article}}{%endblock%}

{%block stylesheets%}<link rel="stylesheet" href="{%static 'styles/article.css'%}" type="text/css" />{%endblock%}

{%block breadcrumbs%}
<span><a href="{{host.get.url}}">{{host.get}}</a></span>
<span><a href="{{host.url}}">{{host}}</a></span>
<span><a href="{{folder.url}}">Articles</a></span>
<span><a>{{article.html}}</a></span>
{%endblock%}

{%block content%}
<article>
    <header id="article-header">
        <hgroup id="article-heading">
            <h1 id="article-title">{{article.html}}</h1>
            <h3 id="article-subtitle">{{article.description}}</h3>
        </hgroup>
        <div class="actions">
            {%if user.is_authenticated%}<a class="edit" href="?edit">Edit</a>{%endif%}
            {%if user.is_authenticated%}<a class="delete" href="?delete">Delete</a>{%endif%}
        </div>
        <div id="article-meta">
            <div id="article-written">Created {{article.created|date:'j M Y, H:i'}}.</div>
            <!-- <div id="article-edited">Last updated {{article.edited|date:'j M Y, H:i'}}.</div> -->
        </div>
        {%if article.tag_list%}
        <ul id="article-tags">
            {%for tag in article.tag_list%}<li>{{tag}}</li>{%endfor%}
        </ul>
        {%endif%}
    </header>
    <div id="article-body">
        {% markup article.content depth=2 section=article.number %}
    </div>
    <footer id="article-footer">
        {%if citeable%}<p>This article can be cited as:</p>
        <blockquote>
            Spence, Kathryn ({{article.created.year}}). {{article.title}}. Dragon Linguistics (www.dragonlinguistics.net{{article.url}}).
        </blockquote>{%endif%}
    </footer>
</article>
{%endblock%}
