{%extends './base.html'%}

{%block title%}Bibliography{%endblock%}

{%block breadcrumbs%}
{%include '../breadcrumbs.html'%}
<span>Bibliography</span>
{%endblock%}

{%block content%}
{%if user.is_authenticated%}
<div class="page-controls">
    <a class="button" href="{%url 'references:new'%}">Add reference</a>
    <a class="button" href="{%url 'references:search'%}">Search references</a>
</div>
{%endif%}

{%include 'dragonlinguistics/snippets/quick-search.html' with field=searchform.author%}

{%for author in authors%}
<h3>{{author}}</h3>
<ul>
    {%for reference in author_references.author%}
    <li>{{reference.year}} - <a href="{{reference.link}}" target="_blank"><em>{{reference.title}}</em></a></li>
    {%endfor%}
</ul>

{%empty%}
<p>There are no {{references}}.</p>
{%endfor%}
{%endblock%}
