{%extends './base.html'%}

{%block title%}Bibliography{%endblock%}

{%block content%}
<h1>Bibliography</h1>

{%if user.is_authenticated%}
<div class="page-controls">
    <a class="button" href="?new">Add reference</a>
    <a class="button" href="?search">Search references</a>
</div>
{%endif%}

{%include 'dragonlinguistics/snippets/quick-search.html' with field=searchform.author%}

{%for author, references in author_references.items%}
<h3>{{author}}</h3>
<ul>
    {%for reference in references%}
    <li id="{{reference|slugify}}">{{reference.as_html}}{%if user.is_authenticated%}<a class="button" href="{{reference.get_absolute_url}}?edit">Edit</a><a class="button" href="{{reference.get_absolute_url}}?delete">Delete</a>{%endif%}</li>
    {%endfor%}
</ul>

{%empty%}
<p>There are no references.</p>
{%endfor%}
{%endblock%}
