{%extends './base.html'%}

{%block title%}Edit {{word.lemma}}{%endblock%}

{%block breadcrumbs%}
{%include './breadcrumbs.html'%}
<span>Edit</span>
{%endblock%}

{%block content%}
<h1>Editing <span class="word {{lang.code}}">{{word}}</span></h1>

<form method="post">
    {%csrf_token%}
    <input type="submit" value="Save changes" />
    {{wordform.non_field_errors}}
    <dl>
        {%include 'dragonlinguistics/snippets/form-fields.html' with form=wordform%}

        {{senseformset.management_form}}
        {%for senseform in senseformset%}
        <dt><h2>Sense {{forloop.counter}}</h2></dt>
        <dd>
            {{senseform.non_field_errors}}
            <dl>
                {%include 'dragonlinguistics/snippets/form-fields.html' with form=senseform%}
            </dl>
        </dd>
        {%endfor%}
    </dl>
    <input type="submit" value="Save changes" />
</form><br /><br />
<a href="{{word.get_absolute_url}}">Cancel</a>
{%endblock%}
