{%extends './base.html'%}

{%block title%}{{lang.name}} Dictionary{%endblock%}

{%block stylesheets%}
<style>
    #lemmas {
        list-style-type: none;
        column-count: 5;
        column-width: 6.875em;
        column-gap: 1.875em;
        column-rule: 1px solid #eaecef;
    }
</style>
{%endblock%}

{%block breadcrumbs%}
{%include 'dragonlinguistics/langs/breadcrumbs.html'%}
<span>Dictionary</span>
{%endblock%}

{%block content%}
{%if user.is_authenticated%}
<div class="page-controls">
    <a class="button" href="{%url 'langs:words:new' lang.code%}">Add word</a>
    <a class="button" href="{%url 'langs:words:search' lang.code%}">Search words</a>
</div>
{%endif%}

{%include 'dragonlinguistics/snippets/quick-search.html' with field=searchform.lemma%}

{%include 'dragonlinguistics/snippets/prevpage.html'%}
<ul id="lemmas">
{%for word in page.object_list%}
    <li><a href="{{word.get_absolute_url}}"><span class="word {{lang.code}}">{{word}}</span> &quot;{{word.firstgloss}}&quot;</a></li>
{%endfor%}
</ul>
{%include 'dragonlinguistics/snippets/nextpage.html'%}

<!-- <hr class="divider" /> -->
{%endblock%}
