{%extends './base.html'%}

{%block title%}Add word{%endblock%}

{%block breadcrumbs%}
{%include './breadcrumbs.html'%}
<span>Add Word</span>
{%endblock%}

{%block content%}
<h1>Add Word</h1>

<form method="post">
    {%csrf_token%}
    {{wordform.non_field_errors}}
    <dl>
        <dt>Keep adding words?</dt>
        <dd><input id="addmore" type="checkbox" name="addmore" {%if addmore%}checked{%endif%} /></dd>
        {%include 'dragonlinguistics/form-fields.html' with form=wordform%}

        {{senseformset.management_form}}
        {%for senseform in senseformset%}
        <dt><h2>Sense {{forloop.counter}}</h2></dt>
        <dd>
            {{senseform.non_field_errors}}
            <dl>
                {%include 'dragonlinguistics/form-fields.html' with form=senseform%}
            </dl>
        </dd>
        {%endfor%}
    </dl>
    <input type="submit" value="Add word" />
</form><br /><br />
<a href="{%url 'langs:words:list' lang.code%}">Cancel</a>
{%endblock%}
