{%extends './base.html'%}
{%load dling_markup%}

{%block title%}View {{word.lemma}}{%endblock%}

{%block stylesheets%}
<style>
    ul {
        list-style-type: none;
    }
</style>
{%endblock%}

{%block breadcrumbs%}
{%include './breadcrumbs.html' with word=None%}
<span>{{word}}</span>
{%endblock%}

{%block content%}
<h1 class="word {{lang.code}}">{{word}}</h1>
<dl>
    {%if word.notes%}<p><i>{{word.notes|markup:lang}}</i></p>{%endif%}
    {%if word.etymology%}
    <dt><h3>Etymology</h3></dt>
    <dd>{{word.etymology|markup:lang}}</dd>
    {%endif%}
    {%for sense in word.sense_set.all%}
        <dt><h3>{{sense.get_pos_display}}</h3></dt>
        <dd>
            <dl>
                {%if sense.notes%}<p><i>{{sense.notes|markup:lang}}</i></p>{%endif%}
                <dt>Definition:</dt><dd>{%if sense.defin%}{{sense.defin}}{%else%}{{sense.gloss}}{%endif%}</dd>
                {%if sense.grammclass%}<dt>Class:</dt><dd>{{sense.grammclass}}</dd>{%endif%}
            </dl>
        </dd>
    {%empty%}
        <h2>No known meanings</h2>
    {%endfor%}
</dl>
{%if user.is_authenticated%}
<a href="{{word.get_edit_url}}">Edit</a><br />
<a href="{{word.get_delete_url}}">Delete</a>
{%endif%}
{%endblock%}
