{%extends 'common/base.html'%}

{%block title%}Export {{dictionary}}{%endblock%}

{%block breadcrumbs%}
{%include 'common/snippets/breadcrumbs.html' with breadcrumbs=host.breadcrumbs%}
{%include 'common/snippets/breadcrumbs.html' with breadcrumbs=dictionary.breadcrumbs%}
<span><a>Export</a></span>
{%endblock%}

{%block heading%}Export {{dictionary}}{%endblock%}

{%block content%}
<form method="post">
    {%csrf_token%}
    <input type="hidden" name="_action" value="export" />
    {%include 'common/snippets/form.html'%}
    <button type="submit">Export</button>
    <a class="button" href=".">Back</a>
</form>
{%endblock%}
