{%extends 'dragonlinguistics/base.html'%}

{%block title%}Import {{dictionary}}{%endblock%}

{%block breadcrumbs%}
{%include 'dragonlinguistics/snippets/breadcrumbs.html' with breadcrumbs=host.breadcrumbs%}
{%include 'dragonlinguistics/snippets/breadcrumbs.html' with breadcrumbs=dictionary.breadcrumbs%}
<span><a>Import</a></span>
{%endblock%}

{%block heading%}Import {{dictionary}}{%endblock%}

{%block content%}
<form enctype="multipart/form-data" method="post">
    {%csrf_token%}
    <input type="hidden" name="_action" value="import" />
    {%include 'dragonlinguistics/snippets/form.html'%}
    <button type="submit" name="_view">Import</button>
    <a class="button" href=".">Cancel</a>
</form>
{%endblock%}
