{%extends 'dragonlinguistics/list.html'%}
{%load markup%}

{%block title%}{%with title=dictionary%}{{block.super}}{%endwith%}{%endblock%}

{%block breadcrumbs%}
<span><a href="{{host.get.url}}">{{host.get}}</a></span>
<span><a href="{{host.url}}">{{host}}</a></span>
<span><a href="{{language.list_url}}">Languages</a></span>
<span><a href="{{language.url}}">{{language.html}}</a></span>
<span><a>Dictionary</a></span>
{%endblock%}

{%block content%}{%with title=dictionary type='word'%}{{block.super}}{%endwith%}{%endblock%}

{%block actions}
{%if user.is_authenticated%}<a class="edit" href="?settings">Settings</a>{%endif%}
{%endblock}
