{%extends 'common/list.html'%}
{%load markup%}

{%block title%}{%with title=dictionary%}{{block.super}}{%endwith%}{%endblock%}

{%block breadcrumbs%}
{%include 'common/snippets/breadcrumbs.html' with breadcrumbs=host.breadcrumbs%}
{%include 'common/snippets/breadcrumbs.html' with breadcrumbs=dictionary.breadcrumbs last=True%}
{%endblock%}

{%block heading%}{%with title=dictionary%}{{block.super}}{%endwith%}{%endblock%}

{%block actions%}
{{block.super}}
{%if user.is_authenticated%}<a class="edit" href="?settings">Settings</a>{%endif%}
{%if user.is_authenticated%}<a class="new" href="?import">Import words</a>{%endif%}
{%if user.is_authenticated%}<a class="view" href="?export">Export words</a>{%endif%}
{%endblock%}

{%block content%}{%with type='word'%}{{block.super}}{%endwith%}{%endblock%}
