{%extends 'common/view.html'%}
{%load markup%}

{%block content%}
<dl>
    {%if word.etymology%}
    <dt><h3>Etymology</h3></dt>
    <dd>{% markup word.etymology %}</dd>
    {%endif%}
    {%for variant in word.variants.all%}<dt><h3>{{variant.get_lexclass}}</h3></dt>
    <dd>
        <p>{%markup variant.get_forms%}</p>
        <ol>
            {%for definition in variant.get_definitions%}<li>{%markup definition%}</li>
            {%endfor%}
        </ol>
        {%if variant.notes%}<p>{% markup variant.notes %}</p>{%endif%}
        {%if variant.derivatives%}<dl>
            <dt>Derivatives:</dt>
            <dd>
                <ul>
                    {%for derivative in variant.get_derivatives%}<li>{%markup derivative%}</li>
                    {%endfor%}
                </ul>
            </dd>
        </dl>{%endif%}
    </dd>
    {%endfor%}
</dl>
{%endblock%}
