{%extends 'dragonlinguistics/base.html'%}
{%load markup%}

{%block title%}{{word.citation}}{%endblock%}

{%block breadcrumbs%}
<span><a href="{{host.get.url}}">{{host.get}}</a></span>
<span><a href="{{host.url}}">{{host}}</a></span>
<span><a href="{{language.list_url}}">Languages</a></span>
<span><a href="{{language.url}}">{{language.html}}</a></span>
<span><a href="{{dictionary.url}}">Dictionary</a></span>
<span><a>{{word.html}}</a></span>
{%endblock%}

{%block content%}
<div id="content-header">
    <h1>{{word.html}}</h1>
    <div class="actions">
        {%if user.is_authenticated%}<a class="edit" href="?edit">Edit</a>{%endif%}
        {%if user.is_authenticated%}<a class="delete" href="?delete">Delete</a>{%endif%}
    </div>
</div>
<dl>
    {%if word.etymology%}
    <dt><h3>Etymology</h3></dt>
    <dd>{% markup word.etymology %}</dd>
    {%endif%}
    {%for variant in word.variants.all%}<dt><h3>{{variant.get_lexclass}}</h3></dt>
    <dd>
        {%if variant.notes%}<p>{% markup variant.notes %}</p>{%endif%}
        <p>{{variant.html}}</p>
        <ol>
            {%for definition in variant.get_definitions%}<li>{%markup definition%}</li>
            {%endfor%}
        </ol>
        {%if variant.derivatives%}<dl>
            <dt>Derivatives:</dt>
            <dd>
                <ul>
                    {%for derivative in variant.get_derivatives%}<li>{%markup derivative%}</li>
                    {%endfor%}
                </ul>
            </dd>
        </dl>{%endif%}
    </dd>
    {%endfor%}
</dl>
{%endblock%}
