{%extends 'common/view.html'%}
{%load markup%}
{%load util%}

{%block content%}
<dl>
    {%if word|hasattr:'etymology'%}
    <dt><h3>Etymology</h3></dt>
    <dd>{{word.etymology.html}}</dd>
    {%endif%}
    {%for variant in word.get_variants%}<dt><h3>{{variant.get_lexclass}}</h3></dt>
    <dd>
        <p>{%markup variant.get_forms%}</p>
        <ol>
            {%for definition in variant.get_definitions%}<li>{%markup definition%}</li>
            {%endfor%}
        </ol>
        {%if variant.notes%}<p>{% markup variant.notes %}</p>{%endif%}
        {%with derivatives=variant.get_derivatives%}{%if derivatives%}<dl>
            <dt>Derivatives:</dt>
            <dd>
                <ul>
                    {%for derivative in derivatives%}<li>{{derivative.link}}</li>
                    {%endfor%}
                </ul>
            </dd>
        </dl>{%endif%}
        {%with descendents=variant.get_descendents%}{%if descendents%}<dl>
            <dt>Descendents:</dt>
            <dd>
                <ul>
                    {%for descendent in descendents%}<li>{{descendent.link}}</li>
                    {%endfor%}
                </ul>
            </dd>
        </dl>{%endif%}
    </dd>
    {%endfor%}
</dl>
{%endblock%}
